<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">BookStore</h1>
    </div>
    <div class="container" style="justify-content: center">
        <h3>Welcome! Get started by browsing through the books you like.</h3>
        <div class="container" style="inline-size: fit-content; margin-top: 30px">
            <a class="btn btn-block btn-dark" style="width: 150px" href="/books">Go to books</a>
        </div>

    </div>
</section>



